<container fullWidthOnMobile constrained class="max-w-2xl">
  <card edgeToEdgeOnMobile>
    <card-heading>
      <div heading class="flex items-center">
        <div class="flex-shrink-0">
          <img class="h-12 w-12 rounded-full object-cover" src="https://static.wikia.nocookie.net/forgottenrealms/images/e/e8/Lumalia_-_Dead_in_Thay.jpg" alt="deva portrait">
        </div>
        <div class="ml-4">
          <h3 class="text-base font-semibold leading-6 text-gray-900">Deva</h3>
          <p class="text-sm text-gray-500">
            Medium Celestial, Lawful Good
          </p>
        </div>
      </div>

      <button #action type="button" class="relative ml-3 inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="-ml-0.5 mr-1.5 h-5 w-5 text-gray-400">
          <path d="M5.625 3.75a2.625 2.625 0 1 0 0 5.25h12.75a2.625 2.625 0 0 0 0-5.25H5.625ZM3.75 11.25a.75.75 0 0 0 0 1.5h16.5a.75.75 0 0 0 0-1.5H3.75ZM3 15.75a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75a.75.75 0 0 1-.75-.75ZM3.75 18.75a.75.75 0 0 0 0 1.5h16.5a.75.75 0 0 0 0-1.5H3.75Z" />
        </svg>

        <span>Add to Encounter</span>
      </button>
    </card-heading>
    <card-body>
      Card Body
    </card-body>
    <card-footer>
      Card Footer
    </card-footer>
  </card>
</container>
